<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User listing</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body >
<a th:href="@{'/home'}" th:text="@{'Home'}" class="btn btn-xs btn-default col-sm-1"/>
<div class="container">
    <div th:if="${not #lists.isEmpty(successes)}" th:each="success : ${successes}" class="alert alert-success" >
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success! </strong> <p th:text="${success.message}"></p>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Username</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td>
                    <form th:method="DELETE" th:action="@{/persons/} + ${user.id}">
                        <div class="form-group">
                            <button id="deleteTag" class="btn btn-xs btn-danger" type="submit">Delete</button>
                        </div>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>